In [1]:
import pyspark
import os
import json
import argparse

from dotenv import load_dotenv
from pathlib import Path
from pyspark.sql.types import StructType
from pyspark.sql.functions import to_timestamp,col,when

## Initialization

In [2]:
dotenv_path = Path('/resources/.env')
load_dotenv(dotenv_path=dotenv_path)

True

In [3]:
postgres_host = os.getenv('POSTGRES_CONTAINER_NAME')
postgres_dw_db = os.getenv('POSTGRES_DW_DB')
postgres_user = os.getenv('POSTGRES_USER')
postgres_password = os.getenv('POSTGRES_PASSWORD')

In [4]:
sparkcontext = pyspark.SparkContext.getOrCreate(conf=(
        pyspark
        .SparkConf()
        .setAppName('Dibimbing')
        .setMaster('local')
        .set("spark.jars", "/opt/postgresql-42.2.18.jar")
    ))
sparkcontext.setLogLevel("WARN")

spark = pyspark.sql.SparkSession(sparkcontext.getOrCreate())

In [5]:
spark

## Basic

In [6]:
schema = "invoice_no long, stock_code string, description string, quantity int, invoice_date string, unit_price float, customer_id int, country string"

df = spark.read.csv("/resources/data/online-retail-dataset.csv", header=True, schema=schema)
df = df.withColumn("invoice_date", to_timestamp(df["invoice_date"], "M/d/yyyy H:mm"))

In [7]:
# == Viewing Data ==
# Display top 5 rows
df.show(5)

# Display the schema of the DataFrame
df.printSchema()

# List all column names
df.columns

+----------+----------+--------------------+--------+-------------------+----------+-----------+--------------+
|invoice_no|stock_code|         description|quantity|       invoice_date|unit_price|customer_id|       country|
+----------+----------+--------------------+--------+-------------------+----------+-----------+--------------+
|    536365|    85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|      2.55|      17850|United Kingdom|
|    536365|     71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|      3.39|      17850|United Kingdom|
|    536365|    84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|      2.75|      17850|United Kingdom|
|    536365|    84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|      3.39|      17850|United Kingdom|
|    536365|    84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|      3.39|      17850|United Kingdom|
+----------+----------+--------------------+--------+-------------------+----------+-----------+--------------+
only showing top 5 rows

root
 |-- invoice_no: long (nullable = true)
 |-- stock_code: string (nullable = true)
 |-- description: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- invoice_date: timestamp (nullable = true)
 |-- unit_price: float (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- country: string (nullable = true)

['invoice_no',
 'stock_code',
 'description',
 'quantity',
 'invoice_date',
 'unit_price',
 'customer_id',
 'country']

In [8]:
# == Selecting Columns ==
# Select specific columns
df.select("invoice_no", "stock_code").show()

# Using alias to rename a column
df.select(df.invoice_no.alias("invoice_number")).show()

+----------+----------+
|invoice_no|stock_code|
+----------+----------+
|    536365|    85123A|
|    536365|     71053|
|    536365|    84406B|
|    536365|    84029G|
|    536365|    84029E|
|    536365|     22752|
|    536365|     21730|
|    536366|     22633|
|    536366|     22632|
|    536367|     84879|
|    536367|     22745|
|    536367|     22748|
|    536367|     22749|
|    536367|     22310|
|    536367|     84969|
|    536367|     22623|
|    536367|     22622|
|    536367|     21754|
|    536367|     21755|
|    536367|     21777|
+----------+----------+
only showing top 20 rows

+--------------+
|invoice_number|
+--------------+
|        536365|
|        536365|
|        536365|
|        536365|
|        536365|
|        536365|
|        536365|
|        536366|
|        536366|
|        536367|
|        536367|
|        536367|
|        536367|
|        536367|
|        536367|
|        536367|
|        536367|
|        536367|
|        536367|
|        536367|
+--------------+
only showing top 20 rows

In [9]:
# == Filtering Rows (WHERE) ==
# Filter rows using a condition
df.filter(df.unit_price > 5).show()

# Filter using multiple conditions
df.filter((df.unit_price > 5) & (df.customer_id == "16503")).show()

+----------+----------+--------------------+--------+-------------------+----------+-----------+--------------+
|invoice_no|stock_code|         description|quantity|       invoice_date|unit_price|customer_id|       country|
+----------+----------+--------------------+--------+-------------------+----------+-----------+--------------+
|    536365|     22752|SET 7 BABUSHKA NE...|       2|2010-12-01 08:26:00|      7.65|      17850|United Kingdom|
|    536367|     22622|BOX OF VINTAGE AL...|       2|2010-12-01 08:34:00|      9.95|      13047|United Kingdom|
|    536367|     21754|HOME BUILDING BLO...|       3|2010-12-01 08:34:00|      5.95|      13047|United Kingdom|
|    536367|     21755|LOVE BUILDING BLO...|       3|2010-12-01 08:34:00|      5.95|      13047|United Kingdom|
|    536367|     21777|RECIPE BOX WITH M...|       4|2010-12-01 08:34:00|      7.95|      13047|United Kingdom|
|    536367|     48187| DOORMAT NEW ENGLAND|       4|2010-12-01 08:34:00|      7.95|      13047|United Kingdom|
|    536369|     21756|BATH BUILDING BLO...|       3|2010-12-01 08:35:00|      5.95|      13047|United Kingdom|
|    536370|      POST|             POSTAGE|       3|2010-12-01 08:45:00|      18.0|      12583|        France|
|    536373|     82486|WOOD S/3 CABINET ...|       4|2010-12-01 09:02:00|      6.95|      17850|United Kingdom|
|    536373|     22752|SET 7 BABUSHKA NE...|       2|2010-12-01 09:02:00|      7.65|      17850|United Kingdom|
|    536374|     21258|VICTORIAN SEWING ...|      32|2010-12-01 09:09:00|     10.95|      15100|United Kingdom|
|    536375|     82486|WOOD S/3 CABINET ...|       4|2010-12-01 09:32:00|      6.95|      17850|United Kingdom|
|    536375|     22752|SET 7 BABUSHKA NE...|       2|2010-12-01 09:32:00|      7.65|      17850|United Kingdom|
|    536381|   15056BL|EDWARDIAN PARASOL...|       2|2010-12-01 09:41:00|      5.95|      15311|United Kingdom|
|    536381|    15056N|EDWARDIAN PARASOL...|       2|2010-12-01 09:41:00|      5.95|      15311|United Kingdom|
|    536381|     21523|DOORMAT FANCY FON...|      10|2010-12-01 09:41:00|      6.75|      15311|United Kingdom|
|      null|         D|            Discount|      -1|2010-12-01 09:41:00|      27.5|      14527|United Kingdom|
|    536382|     22926|IVORY GIANT GARDE...|      12|2010-12-01 09:45:00|      5.95|      16098|United Kingdom|
|    536382|     22839|3 TIER CAKE TIN G...|       2|2010-12-01 09:45:00|     14.95|      16098|United Kingdom|
|    536382|     22838|3 TIER CAKE TIN R...|       2|2010-12-01 09:45:00|     14.95|      16098|United Kingdom|
+----------+----------+--------------------+--------+-------------------+----------+-----------+--------------+
only showing top 20 rows

+----------+----------+--------------------+--------+-------------------+----------+-----------+--------------+
|invoice_no|stock_code|         description|quantity|       invoice_date|unit_price|customer_id|       country|
+----------+----------+--------------------+--------+-------------------+----------+-----------+--------------+
|    538855|    85135C|RED DRAGONFLY HEL...|       4|2010-12-14 13:50:00|      7.95|      16503|United Kingdom|
|    538855|     21055|  TOOL BOX SOFT TOY |       1|2010-12-14 13:50:00|      8.95|      16503|United Kingdom|
|    538855|     22781|GUMBALL MAGAZINE ...|       2|2010-12-14 13:50:00|      7.65|      16503|United Kingdom|
|    538855|     22968|ROSE COTTAGE KEEP...|       2|2010-12-14 13:50:00|      9.95|      16503|United Kingdom|
|      null|    85135C|RED DRAGONFLY HEL...|      -1|2010-12-16 15:36:00|      7.95|      16503|United Kingdom|
|    541086|     21056|DOCTOR'S BAG SOFT...|       2|2011-01-13 12:32:00|      8.95|      16503|United Kingdom|
|    541086|     22179|SET 10 LIGHTS NIG...|       2|2011-01-13 12:32:00|      6.75|      16503|United Kingdom|
|    541086|     22468|BABUSHKA LIGHTS S...|       2|2011-01-13 12:32:00|      6.75|      16503|United Kingdom|
|    541086|     21054|NURSE'S BAG SOFT TOY|       2|2011-01-13 12:32:00|      8.95|      16503|United Kingdom|
|    541086|    85135C|RED DRAGONFLY HEL...|       2|2011-01-13 12:32:00|      7.95|      16503|United Kingdom|
|    541086|    85136A|YELLOW SHARK HELI...|       2|2011-01-13 12:32:00|      7.95|      16503|United Kingdom|
|    541086|     21360|JOY LARGE WOOD LE...|       1|2011-01-13 12:32:00|      9.95|      16503|United Kingdom|
|    552472|     22485|SET OF 2 WOODEN M...|       2|2011-05-09 15:48:00|     12.75|      16503|United Kingdom|
|    552472|     22781|GUMBALL MAGAZINE ...|       2|2011-05-09 15:48:00|      7.65|      16503|United Kingdom|
|    552472|     21056|DOCTOR'S BAG SOFT...|       1|2011-05-09 15:48:00|      8.95|      16503|United Kingdom|
|    552472|     22526|WHEELBARROW FOR C...|       1|2011-05-09 15:48:00|     12.75|      16503|United Kingdom|
|    564433|     20750|RED RETROSPOT MIN...|       2|2011-08-25 11:46:00|      7.95|      16503|United Kingdom|
|    564433|     20749|ASSORTED COLOUR M...|       2|2011-08-25 11:46:00|      7.95|      16503|United Kingdom|
|    564433|     21055|  TOOL BOX SOFT TOY |       1|2011-08-25 11:46:00|      8.95|      16503|United Kingdom|
|    564433|     22179|SET 10 NIGHT OWL ...|       2|2011-08-25 11:46:00|      6.75|      16503|United Kingdom|
+----------+----------+--------------------+--------+-------------------+----------+-----------+--------------+
only showing top 20 rows

In [10]:
# Cell 6: Sorting Rows (ORDER BY)
# Sort by a single column
df.orderBy("invoice_date").show()

# Sort by multiple columns
df.orderBy(df.invoice_no.asc(), df.invoice_date.desc()).show()

+----------+----------+--------------------+--------+-------------------+----------+-----------+--------------+
|invoice_no|stock_code|         description|quantity|       invoice_date|unit_price|customer_id|       country|
+----------+----------+--------------------+--------+-------------------+----------+-----------+--------------+
|    536365|     22752|SET 7 BABUSHKA NE...|       2|2010-12-01 08:26:00|      7.65|      17850|United Kingdom|
|    536365|    84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|      2.75|      17850|United Kingdom|
|    536365|     21730|GLASS STAR FROSTE...|       6|2010-12-01 08:26:00|      4.25|      17850|United Kingdom|
|    536365|    84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|      3.39|      17850|United Kingdom|
|    536365|    85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|      2.55|      17850|United Kingdom|
|    536365|     71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|      3.39|      17850|United Kingdom|
|    536365|    84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|      3.39|      17850|United Kingdom|
|    536366|     22632|HAND WARMER RED P...|       6|2010-12-01 08:28:00|      1.85|      17850|United Kingdom|
|    536366|     22633|HAND WARMER UNION...|       6|2010-12-01 08:28:00|      1.85|      17850|United Kingdom|
|    536367|     84879|ASSORTED COLOUR B...|      32|2010-12-01 08:34:00|      1.69|      13047|United Kingdom|
|    536367|     22745|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|       2.1|      13047|United Kingdom|
|    536367|     22748|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|       2.1|      13047|United Kingdom|
|    536367|     22623|BOX OF VINTAGE JI...|       3|2010-12-01 08:34:00|      4.95|      13047|United Kingdom|
|    536367|     21777|RECIPE BOX WITH M...|       4|2010-12-01 08:34:00|      7.95|      13047|United Kingdom|
|    536367|     22749|FELTCRAFT PRINCES...|       8|2010-12-01 08:34:00|      3.75|      13047|United Kingdom|
|    536367|     22310|IVORY KNITTED MUG...|       6|2010-12-01 08:34:00|      1.65|      13047|United Kingdom|
|    536367|     22622|BOX OF VINTAGE AL...|       2|2010-12-01 08:34:00|      9.95|      13047|United Kingdom|
|    536367|     21754|HOME BUILDING BLO...|       3|2010-12-01 08:34:00|      5.95|      13047|United Kingdom|
|    536367|     48187| DOORMAT NEW ENGLAND|       4|2010-12-01 08:34:00|      7.95|      13047|United Kingdom|
|    536367|     84969|BOX OF 6 ASSORTED...|       6|2010-12-01 08:34:00|      4.25|      13047|United Kingdom|
+----------+----------+--------------------+--------+-------------------+----------+-----------+--------------+
only showing top 20 rows

+----------+----------+--------------------+--------+-------------------+----------+-----------+--------------+
|invoice_no|stock_code|         description|quantity|       invoice_date|unit_price|customer_id|       country|
+----------+----------+--------------------+--------+-------------------+----------+-----------+--------------+
|      null|     84978|HANGING HEART JAR...|      -1|2011-12-09 11:58:00|      1.25|      17315|United Kingdom|
|      null|     20979|36 PENCILS TUBE R...|      -5|2011-12-09 11:58:00|      1.25|      17315|United Kingdom|
|      null|     21258|VICTORIAN SEWING ...|      -5|2011-12-09 11:57:00|     10.95|      15311|United Kingdom|
|      null|         M|              Manual|      -1|2011-12-09 10:28:00|    224.69|      15498|United Kingdom|
|      null|     22178|VICTORIAN GLASS H...|     -12|2011-12-09 09:57:00|      1.95|      14397|United Kingdom|
|      null|     23144|ZINC T-LIGHT HOLD...|     -11|2011-12-09 09:57:00|      0.83|      14397|United Kingdom|
|      null|     23843|PAPER CRAFT , LIT...|  -80995|2011-12-09 09:27:00|      2.08|      16446|United Kingdom|
|      null|     23084|  RABBIT NIGHT LIGHT|      -4|2011-12-08 19:28:00|      2.08|      17924|United Kingdom|
|      null|     21314|SMALL GLASS HEART...|     -10|2011-12-08 19:26:00|       2.1|      13599|United Kingdom|
|      null|     22098|BOUDOIR SQUARE TI...|     -12|2011-12-08 19:26:00|      0.39|      13599|United Kingdom|
|      null|     22838|3 TIER CAKE TIN R...|      -1|2011-12-08 19:20:00|     14.95|      13883|United Kingdom|
|      null|     21216|SET 3 RETROSPOT T...|      -1|2011-12-08 19:20:00|      4.95|      13883|United Kingdom|
|      null|     21535|RED RETROSPOT SMA...|      -2|2011-12-08 19:20:00|      2.55|      13883|United Kingdom|
|      null|     21232|STRAWBERRY CERAMI...|      -1|2011-12-08 19:20:00|      1.25|      13883|United Kingdom|
|      null|     22720|SET OF 3 CAKE TIN...|      -2|2011-12-08 19:20:00|      4.95|      13883|United Kingdom|
|      null|     21876|       POTTERING MUG|      -4|2011-12-08 18:59:00|      1.65|      15755|United Kingdom|
|      null|     23660|  HENRIETTA HEN MUG |      -2|2011-12-08 18:59:00|      1.65|      15755|United Kingdom|
|      null|     20914|SET/5 RED RETROSP...|      -3|2011-12-08 18:59:00|      2.95|      15755|United Kingdom|
|      null|     22171|3 HOOK PHOTO SHEL...|      -1|2011-12-08 18:59:00|       8.5|      15755|United Kingdom|
|      null|     23458|DOLLY CABINET 3 D...|      -1|2011-12-08 18:57:00|     14.95|      15951|United Kingdom|
+----------+----------+--------------------+--------+-------------------+----------+-----------+--------------+
only showing top 20 rows

In [11]:
# Cell 7: Aggregations (GROUP BY)
# Group by and aggregate using count, sum, avg, etc.
df.groupBy("customer_id").count().show()
df.groupBy("customer_id").sum("unit_price").show()
df.groupBy("customer_id").agg({"unit_price": "mean", "unit_price": "max"}).show()

+-----------+-----+
|customer_id|count|
+-----------+-----+
|      17420|   30|
|      16861|    8|
|      16503|   86|
|      15727|  302|
|      17389|  224|
|      15447|    9|
|      14450|   40|
|      13623|   86|
|      13285|  187|
|      16339|   20|
|      14570|   29|
|      16386|   88|
|      18024|   22|
|      12940|  103|
|      17679|   30|
|      16574|   28|
|      15957|   42|
|      13832|    4|
|      15619|    3|
|      15790|   35|
+-----------+-----+
only showing top 20 rows

+-----------+------------------+
|customer_id|   sum(unit_price)|
+-----------+------------------+
|      17420| 116.4399995803833|
|      16861| 18.72999981045723|
|      16503|361.07999685406685|
|      15727|  980.939994186163|
|      17389|1273.5699914097786|
|      15447| 28.09000015258789|
|      14450|111.61999799311161|
|      13623|  333.639996945858|
|      13285|399.21999901533127|
|      16339| 105.1499981880188|
|      14570| 97.78999862074852|
|      16386|145.98999929055572|
|      18024| 58.48999959230423|
|      12940|  411.349998742342|
|      17679|159.26999905705452|
|      16574| 39.91999959945679|
|      15957|117.08999788761139|
|      13832|10.600000023841858|
|      15619|13.250000238418579|
|      15790|119.84999915957451|
+-----------+------------------+
only showing top 20 rows

+-----------+---------------+
|customer_id|max(unit_price)|
+-----------+---------------+
|      17420|          19.95|
|      16861|           4.41|
|      16503|          16.95|
|      15727|          125.0|
|      17389|          12.75|
|      15447|          12.75|
|      14450|           5.75|
|      13623|          14.95|
|      13285|          16.95|
|      16339|           7.95|
|      14570|           9.95|
|      16386|          12.75|
|      18024|           9.95|
|      12940|          19.95|
|      17679|          39.95|
|      16574|           7.95|
|      15957|           9.95|
|      13832|           3.75|
|      15619|           7.65|
|      15790|           9.95|
+-----------+---------------+
only showing top 20 rows

In [12]:
# == CASE WHEN (Conditional Statements) ==
# Create a new column with conditional values
df = df.withColumn("price_status", when(df.unit_price > 7, "High").otherwise("Low"))
df.show()

+----------+----------+--------------------+--------+-------------------+----------+-----------+--------------+------------+
|invoice_no|stock_code|         description|quantity|       invoice_date|unit_price|customer_id|       country|price_status|
+----------+----------+--------------------+--------+-------------------+----------+-----------+--------------+------------+
|    536365|    85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|      2.55|      17850|United Kingdom|         Low|
|    536365|     71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|      3.39|      17850|United Kingdom|         Low|
|    536365|    84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|      2.75|      17850|United Kingdom|         Low|
|    536365|    84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|      3.39|      17850|United Kingdom|         Low|
|    536365|    84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|      3.39|      17850|United Kingdom|         Low|
|    536365|     22752|SET 7 BABUSHKA NE...|       2|2010-12-01 08:26:00|      7.65|      17850|United Kingdom|        High|
|    536365|     21730|GLASS STAR FROSTE...|       6|2010-12-01 08:26:00|      4.25|      17850|United Kingdom|         Low|
|    536366|     22633|HAND WARMER UNION...|       6|2010-12-01 08:28:00|      1.85|      17850|United Kingdom|         Low|
|    536366|     22632|HAND WARMER RED P...|       6|2010-12-01 08:28:00|      1.85|      17850|United Kingdom|         Low|
|    536367|     84879|ASSORTED COLOUR B...|      32|2010-12-01 08:34:00|      1.69|      13047|United Kingdom|         Low|
|    536367|     22745|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|       2.1|      13047|United Kingdom|         Low|
|    536367|     22748|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|       2.1|      13047|United Kingdom|         Low|
|    536367|     22749|FELTCRAFT PRINCES...|       8|2010-12-01 08:34:00|      3.75|      13047|United Kingdom|         Low|
|    536367|     22310|IVORY KNITTED MUG...|       6|2010-12-01 08:34:00|      1.65|      13047|United Kingdom|         Low|
|    536367|     84969|BOX OF 6 ASSORTED...|       6|2010-12-01 08:34:00|      4.25|      13047|United Kingdom|         Low|
|    536367|     22623|BOX OF VINTAGE JI...|       3|2010-12-01 08:34:00|      4.95|      13047|United Kingdom|         Low|
|    536367|     22622|BOX OF VINTAGE AL...|       2|2010-12-01 08:34:00|      9.95|      13047|United Kingdom|        High|
|    536367|     21754|HOME BUILDING BLO...|       3|2010-12-01 08:34:00|      5.95|      13047|United Kingdom|         Low|
|    536367|     21755|LOVE BUILDING BLO...|       3|2010-12-01 08:34:00|      5.95|      13047|United Kingdom|         Low|
|    536367|     21777|RECIPE BOX WITH M...|       4|2010-12-01 08:34:00|      7.95|      13047|United Kingdom|        High|
+----------+----------+--------------------+--------+-------------------+----------+-----------+--------------+------------+
only showing top 20 rows

In [13]:
# == Handling Missing Data == 
# Drop rows with any nulls
df = df.na.drop()

# Fill nulls in a specific column with a value
df = df.na.fill({"description": "no description", "unit_price": 0})

## UDF

In [14]:
from pyspark.sql.functions import col, udf, pandas_udf
from pyspark.sql.types import IntegerType

# Create a sample dataframe
df = spark.createDataFrame([(1, "apple"), (2, "banana"), (3, "orange"), 
                            (4, "apple"), (5, "banana"), (6, "orange"),
                            (7, "apple"), (8, "banana"), (9, "orange"),
                            (10, "apple")], ["id", "fruit"])

In [15]:
# Define the UDF logic
def string_length(s):
    return len(s)

# Define the Python UDF
string_length_udf = udf(string_length, IntegerType())

# Apply the Python UDF and display the result
df1 = df.withColumn("length", string_length_udf(col("fruit")))
df1.show()

+---+------+------+
| id| fruit|length|
+---+------+------+
|  1| apple|     5|
|  2|banana|     6|
|  3|orange|     6|
|  4| apple|     5|
|  5|banana|     6|
|  6|orange|     6|
|  7| apple|     5|
|  8|banana|     6|
|  9|orange|     6|
| 10| apple|     5|
+---+------+------+

In [16]:
import pandas as pd

# Define the Pandas UDF
@pandas_udf(IntegerType())
def string_length_pandas_udf(s: pd.Series) -> pd.Series:
    return s.str.len()
    
# Apply the Pandas UDF and display the result
df2 = df.withColumn("length", string_length_pandas_udf(col("fruit")))
df2.show()

+---+------+------+
| id| fruit|length|
+---+------+------+
|  1| apple|     5|
|  2|banana|     6|
|  3|orange|     6|
|  4| apple|     5|
|  5|banana|     6|
|  6|orange|     6|
|  7| apple|     5|
|  8|banana|     6|
|  9|orange|     6|
| 10| apple|     5|
+---+------+------+

## Join

In [17]:
spark.conf.set("spark.sql.adaptive.enabled", "false")

In [18]:
# define schema for purchases dataset
purchases_schema = "order_id int, customer_id int, product_id int, quantity int, price float"

# create purchases dataframe
purchases_data = [
    (101, 1, 1, 2, 19.99), # Worker 1
    (102, 2, 2, 1, 9.99), # Worker 1
    (103, 3, 3, 1, 15.99), # Worker 1
    (104, 1, 4, 1, 5.99), # Worker 2
    (105, 2, 5, 3, 12.99), # Worker 2
    (106, 3, 6, 2, 9.99), # Worker 2
    (107, 4, 7, 1, 11.99), # Worker 2
    (108, 1, 8, 2, 14.99), # Worker 3
    (109, 2, 9, 1, 9.99), # Worker 3
    (110, 3, 10, 1, 19.99) # Worker 3
]
purchases_df = spark.createDataFrame(purchases_data, schema=purchases_schema)
# 10.000 row

# define schema for customers dataset
customers_schema = "customer_id int, name string, email string"

# create customers dataframe
customers_data = [
    (1, "John Doe", "johndoe@example.com"), # Worker 1
    (2, "Jane Smith", "janesmith@example.com"), # Worker 2
    (3, "Bob Johnson", "bobjohnson@example.com"), # Worker 3
    (4, "Sue Lee", "suelee@example.com"), # Worker 3
]

customers_df = spark.createDataFrame(customers_data, schema=customers_schema)
# 1000 row

# define schema for products dataset
products_schema = "product_id int, name string, price float"

# create products dataframe
products_data = [
    (1, "Product A", 19.99),
    (2, "Product B", 9.99),
    (3, "Product C", 15.99),
    (4, "Product D", 5.99),
    (5, "Product E", 12.99),
    (6, "Product F", 9.99),
    (7, "Product G", 11.99),
    (8, "Product H", 14.99),
    (9, "Product I", 9.99),
    (10, "Product J", 19.99)
]
products_df = spark.createDataFrame(products_data, schema=products_schema)

In [19]:

# set join preferences
spark.conf.set("spark.sql.join.preferSortMergeJoin", "true")
spark.conf.set("spark.sql.autoBroadcastJoinThreshold", "-1")

# perform sort merge join
merged_df = (
    purchases_df
    .join(customers_df, "customer_id")
    .join(products_df, "product_id")
)

In [20]:
merged_df.show()

+----------+-----------+--------+--------+-----+-----------+--------------------+---------+-----+
|product_id|customer_id|order_id|quantity|price|       name|               email|     name|price|
+----------+-----------+--------+--------+-----+-----------+--------------------+---------+-----+
|         1|          1|     101|       2|19.99|   John Doe| johndoe@example.com|Product A|19.99|
|         6|          3|     106|       2| 9.99|Bob Johnson|bobjohnson@exampl...|Product F| 9.99|
|         3|          3|     103|       1|15.99|Bob Johnson|bobjohnson@exampl...|Product C|15.99|
|         5|          2|     105|       3|12.99| Jane Smith|janesmith@example...|Product E|12.99|
|         9|          2|     109|       1| 9.99| Jane Smith|janesmith@example...|Product I| 9.99|
|         4|          1|     104|       1| 5.99|   John Doe| johndoe@example.com|Product D| 5.99|
|         8|          1|     108|       2|14.99|   John Doe| johndoe@example.com|Product H|14.99|
|         7|          4|     107|       1|11.99|    Sue Lee|  suelee@example.com|Product G|11.99|
|        10|          3|     110|       1|19.99|Bob Johnson|bobjohnson@exampl...|Product J|19.99|
|         2|          2|     102|       1| 9.99| Jane Smith|janesmith@example...|Product B| 9.99|
+----------+-----------+--------+--------+-----+-----------+--------------------+---------+-----+

In [21]:
merged_df.show()

+----------+-----------+--------+--------+-----+-----------+--------------------+---------+-----+
|product_id|customer_id|order_id|quantity|price|       name|               email|     name|price|
+----------+-----------+--------+--------+-----+-----------+--------------------+---------+-----+
|         1|          1|     101|       2|19.99|   John Doe| johndoe@example.com|Product A|19.99|
|         6|          3|     106|       2| 9.99|Bob Johnson|bobjohnson@exampl...|Product F| 9.99|
|         3|          3|     103|       1|15.99|Bob Johnson|bobjohnson@exampl...|Product C|15.99|
|         5|          2|     105|       3|12.99| Jane Smith|janesmith@example...|Product E|12.99|
|         9|          2|     109|       1| 9.99| Jane Smith|janesmith@example...|Product I| 9.99|
|         4|          1|     104|       1| 5.99|   John Doe| johndoe@example.com|Product D| 5.99|
|         8|          1|     108|       2|14.99|   John Doe| johndoe@example.com|Product H|14.99|
|         7|          4|     107|       1|11.99|    Sue Lee|  suelee@example.com|Product G|11.99|
|        10|          3|     110|       1|19.99|Bob Johnson|bobjohnson@exampl...|Product J|19.99|
|         2|          2|     102|       1| 9.99| Jane Smith|janesmith@example...|Product B| 9.99|
+----------+-----------+--------+--------+-----+-----------+--------------------+---------+-----+

In [22]:
from pyspark.sql.functions import broadcast

# set join preferences
spark.conf.set("spark.sql.join.preferSortMergeJoin", "false")
spark.conf.set("spark.sql.autoBroadcastJoinThreshold", "1000000000")

# perform broadcast hash join
broadcast_df = purchases_df.join(broadcast(customers_df), "customer_id").join(broadcast(products_df), "product_id")
broadcast_df.show(5)

+----------+-----------+--------+--------+-----+-----------+--------------------+---------+-----+
|product_id|customer_id|order_id|quantity|price|       name|               email|     name|price|
+----------+-----------+--------+--------+-----+-----------+--------------------+---------+-----+
|         1|          1|     101|       2|19.99|   John Doe| johndoe@example.com|Product A|19.99|
|         2|          2|     102|       1| 9.99| Jane Smith|janesmith@example...|Product B| 9.99|
|         3|          3|     103|       1|15.99|Bob Johnson|bobjohnson@exampl...|Product C|15.99|
|         4|          1|     104|       1| 5.99|   John Doe| johndoe@example.com|Product D| 5.99|
|         5|          2|     105|       3|12.99| Jane Smith|janesmith@example...|Product E|12.99|
+----------+-----------+--------+--------+-----+-----------+--------------------+---------+-----+
only showing top 5 rows

In [23]:
broadcast_df.show(1)

+----------+-----------+--------+--------+-----+--------+-------------------+---------+-----+
|product_id|customer_id|order_id|quantity|price|    name|              email|     name|price|
+----------+-----------+--------+--------+-----+--------+-------------------+---------+-----+
|         1|          1|     101|       2|19.99|John Doe|johndoe@example.com|Product A|19.99|
+----------+-----------+--------+--------+-----+--------+-------------------+---------+-----+
only showing top 1 row

## Cache & Persist

In [24]:
broadcast_df.show()

+----------+-----------+--------+--------+-----+-----------+--------------------+---------+-----+
|product_id|customer_id|order_id|quantity|price|       name|               email|     name|price|
+----------+-----------+--------+--------+-----+-----------+--------------------+---------+-----+
|         1|          1|     101|       2|19.99|   John Doe| johndoe@example.com|Product A|19.99|
|         2|          2|     102|       1| 9.99| Jane Smith|janesmith@example...|Product B| 9.99|
|         3|          3|     103|       1|15.99|Bob Johnson|bobjohnson@exampl...|Product C|15.99|
|         4|          1|     104|       1| 5.99|   John Doe| johndoe@example.com|Product D| 5.99|
|         5|          2|     105|       3|12.99| Jane Smith|janesmith@example...|Product E|12.99|
|         6|          3|     106|       2| 9.99|Bob Johnson|bobjohnson@exampl...|Product F| 9.99|
|         7|          4|     107|       1|11.99|    Sue Lee|  suelee@example.com|Product G|11.99|
|         8|          1|     108|       2|14.99|   John Doe| johndoe@example.com|Product H|14.99|
|         9|          2|     109|       1| 9.99| Jane Smith|janesmith@example...|Product I| 9.99|
|        10|          3|     110|       1|19.99|Bob Johnson|bobjohnson@exampl...|Product J|19.99|
+----------+-----------+--------+--------+-----+-----------+--------------------+---------+-----+

In [25]:
# cache the purchases DataFrame
# broadcast_df.cache()
broadcast_df.unpersist()

DataFrame[product_id: int, customer_id: int, order_id: int, quantity: int, price: float, name: string, email: string, name: string, price: float]

In [26]:
from pyspark.sql.functions import col

# calculate the total purchase amount for each store using the cached DataFrame
store_purchase_totals = (
    purchases_df
    .withColumn("total_price",col("quantity")*col("price"))
    .groupBy("customer_id")
    .agg({"total_price":"sum"}).alias("total_purchase_amount")
)

In [27]:
# persist the store_purchase_totals DataFrame to disk
# store_purchase_totals.persist(pyspark.StorageLevel.DISK_ONLY)
store_purchase_totals.persist(pyspark.StorageLevel.MEMORY_ONLY)

DataFrame[customer_id: int, sum(total_price): double]

In [28]:
# print the results
store_purchase_totals.show()

+-----------+------------------+
|customer_id|  sum(total_price)|
+-----------+------------------+
|          1| 75.94999885559082|
|          3|55.959999084472656|
|          4|11.989999771118164|
|          2| 58.95000076293945|
+-----------+------------------+

In [29]:
# print the results
store_purchase_totals.show()

+-----------+------------------+
|customer_id|  sum(total_price)|
+-----------+------------------+
|          1| 75.94999885559082|
|          3|55.959999084472656|
|          4|11.989999771118164|
|          2| 58.95000076293945|
+-----------+------------------+

In [30]:
# unpersist the store_purchase_totals DataFrame to free up memory
store_purchase_totals.unpersist()

DataFrame[customer_id: int, sum(total_price): double]

Balik lagi ke collab

# JDBC

In [31]:
jdbc_url = f'jdbc:postgresql://{postgres_host}/{postgres_dw_db}'
jdbc_properties = {
    'user': postgres_user,
    'password': postgres_password,
    'driver': 'org.postgresql.Driver',
    'stringtype': 'unspecified'
}

In [32]:
retail_df = spark.read.jdbc(
    jdbc_url,
    'public.retail',
    properties=jdbc_properties
)

Py4JJavaError: An error occurred while calling o243.jdbc.
: org.postgresql.util.PSQLException: ERROR: relation "public.retail" does not exist
  Position: 15
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2553)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2285)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:323)
	at org.postgresql.jdbc.PgStatement.executeInternal(PgStatement.java:473)
	at org.postgresql.jdbc.PgStatement.execute(PgStatement.java:393)
	at org.postgresql.jdbc.PgPreparedStatement.executeWithFlags(PgPreparedStatement.java:164)
	at org.postgresql.jdbc.PgPreparedStatement.executeQuery(PgPreparedStatement.java:114)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.getQueryOutputSchema(JDBCRDD.scala:68)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.resolveTable(JDBCRDD.scala:58)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRelation$.getSchema(JDBCRelation.scala:242)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:37)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:350)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:228)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:210)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:210)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:171)
	at org.apache.spark.sql.DataFrameReader.jdbc(DataFrameReader.scala:248)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:833)

In [ ]:
retail_df.show(5)

In [ ]:
(
    retail_df
    .limit(10)
    .write
    .mode("append")
    .option("truncate", "true")
    .jdbc(
        jdbc_url,
        'public.sample_retail',
        properties=jdbc_properties
    )
)

In [ ]:
(
    spark
    .read
    .jdbc(
        jdbc_url,
        'public.sample_retail',
        properties=jdbc_properties
    )
    .show()
)

# Check data

In [19]:
from pyspark.sql.types import *

# Define schema
schema_1 = StructType([
    StructField("customer_id", StringType(), True),
    StructField("customer_unique_id", StringType(), True),
    StructField("customer_zip_code_prefix", StringType(), True),
    StructField("customer_city", StringType(), True),
    StructField("customer_state", StringType(), True)
])

# Schema 2
schema_2 = StructType([
    StructField("geolocation_zip_code_prefix", StringType(), True),
    StructField("geolocation_lat", StringType(), True),
    StructField("geolocation_lng", StringType(), True),
    StructField("geolocation_city", StringType(), True),
    StructField("geolocation_state", StringType(), True)
])

# Schema 3
schema_3 = StructType([
    StructField("order_id", StringType(), True),
    StructField("order_item_id", StringType(), True),
    StructField("product_id", StringType(), True),
    StructField("seller_id", StringType(), True),
    StructField("shipping_limit_date", TimestampType(), True),
    StructField("price", DoubleType(), True),
    StructField("freight_value", DoubleType(), True)
])

# Schema 4
schema_4 = StructType([
    StructField("order_id", StringType(), True),
    StructField("payment_sequential", StringType(), True),
    StructField("payment_type", StringType(), True),
    StructField("payment_installments", IntegerType(), True),
    StructField("payment_value", DoubleType(), True)
])

# Schema 5
schema_5 = StructType([
    StructField("review_id", StringType(), True),
    StructField("order_id", StringType(), True),
    StructField("review_score", IntegerType(), True),
    StructField("review_comment_title", StringType(), True),
    StructField("review_comment_message", StringType(), True),
    StructField("review_creation_date", TimestampType(), True),
    StructField("review_answer_timestamp", TimestampType(), True)
])

# Schema 6
schema_6 = StructType([
    StructField("order_id", StringType(), True),
    StructField("customer_id", StringType(), True),
    StructField("order_status", StringType(), True),
    StructField("order_purchase_timestamp", TimestampType(), True),
    StructField("order_approved_at", TimestampType(), True),
    StructField("order_delivered_carrier_date", TimestampType(), True),
    StructField("order_delivered_customer_date", TimestampType(), True),
    StructField("order_estimated_delivery_date", TimestampType(), True)
])

# Schema 7
schema_7 = StructType([
    StructField("product_id", StringType(), True),
    StructField("product_category_name", StringType(), True),
    StructField("product_name_lenght", IntegerType(), True),
    StructField("product_description_lenght", IntegerType(), True),
    StructField("product_photos_qty", IntegerType(), True),
    StructField("product_weight_g", IntegerType(), True),
    StructField("product_length_cm", IntegerType(), True),
    StructField("product_height_cm", IntegerType(), True),
    StructField("product_width_cm", IntegerType(), True)
])

# Schema 8
schema_8 = StructType([
    StructField("seller_id", StringType(), True),
    StructField("seller_zip_code_prefix", StringType(), True),
    StructField("seller_city", StringType(), True),
    StructField("seller_state", StringType(), True)
])

# Schema 9
schema_9 = StructType([
    StructField("product_category_name", StringType(), True),
    StructField("product_category_name_english", StringType(), True)
])

In [20]:
# Read CSV with the defined schema
df_olist_customers_dataset = spark.read.csv("/resources/data/olist/olist_customers_dataset.csv",header=True,schema=schema_1)
df_olist_geolocation_dataset = spark.read.csv("/resources/data/olist/olist_geolocation_dataset.csv",header=True,schema=schema_2)
df_olist_order_items_dataset = spark.read.csv("/resources/data/olist/olist_order_items_dataset.csv",header=True,schema=schema_3)
df_olist_order_payments_dataset = spark.read.csv("/resources/data/olist/olist_order_payments_dataset.csv",header=True,schema=schema_4)
df_olist_order_reviews_dataset = spark.read.csv("/resources/data/olist/olist_order_reviews_dataset.csv",header=True,schema=schema_5)
df_olist_orders_dataset = spark.read.csv("/resources/data/olist/olist_orders_dataset.csv",header=True,schema=schema_6)
df_olist_products_dataset = spark.read.csv("/resources/data/olist/olist_products_dataset.csv",header=True,schema=schema_7)
df_olist_sellers_dataset = spark.read.csv("/resources/data/olist/olist_sellers_dataset.csv",header=True,schema=schema_8)
df_product_category_name_translation= spark.read.csv("/resources/data/olist/product_category_name_translation.csv",header=True,schema=schema_9)

In [21]:
# Show the first 5 rows
df_olist_customers_dataset.show(5)
df_olist_geolocation_dataset.show(5)
df_olist_order_items_dataset.show(5)
df_olist_order_payments_dataset.show(5)
df_olist_order_reviews_dataset.show(5)
df_olist_orders_dataset.show(5)
df_olist_products_dataset.show(5)
df_olist_sellers_dataset.show(5)
df_product_category_name_translation.show(5)

+--------------------+--------------------+------------------------+--------------------+--------------+
|         customer_id|  customer_unique_id|customer_zip_code_prefix|       customer_city|customer_state|
+--------------------+--------------------+------------------------+--------------------+--------------+
|06b8999e2fba1a1fb...|861eff4711a542e4b...|                   14409|              franca|            SP|
|18955e83d337fd6b2...|290c77bc529b7ac93...|                   09790|sao bernardo do c...|            SP|
|4e7b3e00288586ebd...|060e732b5b29e8181...|                   01151|           sao paulo|            SP|
|b2b6027bc5c5109e5...|259dac757896d24d7...|                   08775|     mogi das cruzes|            SP|
|4f2d8ab171c80ec83...|345ecd01c38d18a90...|                   13056|            campinas|            SP|
+--------------------+--------------------+------------------------+--------------------+--------------+
only showing top 5 rows

+---------------------------+-------------------+------------------+----------------+-----------------+
|geolocation_zip_code_prefix|    geolocation_lat|   geolocation_lng|geolocation_city|geolocation_state|
+---------------------------+-------------------+------------------+----------------+-----------------+
|                      01037| -23.54562128115268|-46.63929204800168|       sao paulo|               SP|
|                      01046|-23.546081127035535|-46.64482029837157|       sao paulo|               SP|
|                      01046| -23.54612896641469|-46.64295148361138|       sao paulo|               SP|
|                      01041|  -23.5443921648681|-46.63949930627844|       sao paulo|               SP|
|                      01035|-23.541577961711493|-46.64160722329613|       sao paulo|               SP|
+---------------------------+-------------------+------------------+----------------+-----------------+
only showing top 5 rows

+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
|            order_id|order_item_id|          product_id|           seller_id|shipping_limit_date|price|freight_value|
+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
|00010242fe8c5a6d1...|            1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-09-19 09:45:35| 58.9|        13.29|
|00018f77f2f0320c5...|            1|e5f2d52b802189ee6...|dd7ddc04e1b6c2c61...|2017-05-03 11:05:13|239.9|        19.93|
|000229ec398224ef6...|            1|c777355d18b72b67a...|5b51032eddd242adc...|2018-01-18 14:48:30|199.0|        17.87|
|00024acbcdf0a6daa...|            1|7634da152a4610f15...|9d7a1d34a50524090...|2018-08-15 10:10:18|12.99|        12.79|
|00042b26cf59d7ce6...|            1|ac6c3623068f30de0...|df560393f3a51e745...|2017-02-13 13:57:51|199.9|        18.14|
+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
only showing top 5 rows

+--------------------+------------------+------------+--------------------+-------------+
|            order_id|payment_sequential|payment_type|payment_installments|payment_value|
+--------------------+------------------+------------+--------------------+-------------+
|b81ef226f3fe1789b...|                 1| credit_card|                   8|        99.33|
|a9810da82917af2d9...|                 1| credit_card|                   1|        24.39|
|25e8ea4e93396b6fa...|                 1| credit_card|                   1|        65.71|
|ba78997921bbcdc13...|                 1| credit_card|                   8|       107.78|
|42fdf880ba16b47b5...|                 1| credit_card|                   2|       128.45|
+--------------------+------------------+------------+--------------------+-------------+
only showing top 5 rows

+--------------------+--------------------+------------+--------------------+----------------------+--------------------+-----------------------+
|           review_id|            order_id|review_score|review_comment_title|review_comment_message|review_creation_date|review_answer_timestamp|
+--------------------+--------------------+------------+--------------------+----------------------+--------------------+-----------------------+
|7bc2406110b926393...|73fc7af87114b3971...|           4|                null|                  null| 2018-01-18 00:00:00|    2018-01-18 21:46:59|
|80e641a11e56f04c1...|a548910a1c6147796...|           5|                null|                  null| 2018-03-10 00:00:00|    2018-03-11 03:05:13|
|228ce5500dc1d8e02...|f9e4b658b201a9f2e...|           5|                null|                  null| 2018-02-17 00:00:00|    2018-02-18 14:36:24|
|e64fb393e7b32834b...|658677c97b385a9be...|           5|                null|  Recebi bem antes ...| 2017-04-21 00:00:00|    2017-04-21 22:02:06|
|f7c4243c7fe1938f1...|8e6bfb81e283fa7e4...|           5|                null|  Parabns lojas la...| 2018-03-01 00:00:00|    2018-03-02 10:26:53|
+--------------------+--------------------+------------+--------------------+----------------------+--------------------+-----------------------+
only showing top 5 rows

+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|            order_id|         customer_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|e481f51cbdc54678b...|9ef432eb625129730...|   delivered|     2017-10-02 10:56:33|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|          2017-10-18 00:00:00|
|53cdb2fc8bc7dce0b...|b0830fb4747a6c6d2...|   delivered|     2018-07-24 20:41:37|2018-07-26 03:24:27|         2018-07-26 14:31:00|          2018-08-07 15:27:45|          2018-08-13 00:00:00|
|47770eb9100c2d0c4...|41ce2a54c0b03bf34...|   delivered|     2018-08-08 08:38:49|2018-08-08 08:55:23|         2018-08-08 13:50:00|          2018-08-17 18:06:29|          2018-09-04 00:00:00|
|949d5b44dbf5de918...|f88197465ea7920ad...|   delivered|     2017-11-18 19:28:06|2017-11-18 19:45:59|         2017-11-22 13:39:59|          2017-12-02 00:28:42|          2017-12-15 00:00:00|
|ad21c59c0840e6cb8...|8ab97904e6daea886...|   delivered|     2018-02-13 21:18:39|2018-02-13 22:20:29|         2018-02-14 19:46:34|          2018-02-16 18:17:02|          2018-02-26 00:00:00|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
only showing top 5 rows

+--------------------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+
|          product_id|product_category_name|product_name_lenght|product_description_lenght|product_photos_qty|product_weight_g|product_length_cm|product_height_cm|product_width_cm|
+--------------------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+
|1e9e8ef04dbcff454...|           perfumaria|                 40|                       287|                 1|             225|               16|               10|              14|
|3aa071139cb16b67c...|                artes|                 44|                       276|                 1|            1000|               30|               18|              20|
|96bd76ec8810374ed...|        esporte_lazer|                 46|                       250|                 1|             154|               18|                9|              15|
|cef67bcfe19066a93...|                bebes|                 27|                       261|                 1|             371|               26|                4|              26|
|9dc1a7de274444849...| utilidades_domest...|                 37|                       402|                 4|             625|               20|               17|              13|
+--------------------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+
only showing top 5 rows

+--------------------+----------------------+-----------------+------------+
|           seller_id|seller_zip_code_prefix|      seller_city|seller_state|
+--------------------+----------------------+-----------------+------------+
|3442f8959a84dea7e...|                 13023|         campinas|          SP|
|d1b65fc7debc3361e...|                 13844|       mogi guacu|          SP|
|ce3ad9de960102d06...|                 20031|   rio de janeiro|          RJ|
|c0f3eea2e14555b6f...|                 04195|        sao paulo|          SP|
|51a04a8a6bdcb23de...|                 12914|braganca paulista|          SP|
+--------------------+----------------------+-----------------+------------+
only showing top 5 rows

+---------------------+-----------------------------+
|product_category_name|product_category_name_english|
+---------------------+-----------------------------+
|         beleza_saude|                health_beauty|
| informatica_acess...|         computers_accesso...|
|           automotivo|                         auto|
|      cama_mesa_banho|               bed_bath_table|
|     moveis_decoracao|              furniture_decor|
+---------------------+-----------------------------+
only showing top 5 rows

In [33]:
print("olist_customers_dataset.csv")
df_olist_customers_dataset.printSchema()
print("olist_geolocation_dataset.csv")
df_olist_geolocation_dataset.printSchema()
print("olist_order_items_dataset.csv")
df_olist_order_items_dataset.printSchema()
print("olist_order_payments_dataset.csv")
df_olist_order_payments_dataset.printSchema()
print("olist_order_reviews_dataset.csv")
df_olist_order_reviews_dataset.printSchema()
print("olist_orders_dataset.csv")
df_olist_orders_dataset.printSchema()
print("olist_products_dataset.csv")
df_olist_products_dataset.printSchema()
print("olist_sellers_dataset.csv")
df_olist_sellers_dataset.printSchema()
print("product_category_name_translation.csv")
df_product_category_name_translation.printSchema()

olist_customers_dataset.csv
root
 |-- customer_id: string (nullable = true)
 |-- customer_unique_id: string (nullable = true)
 |-- customer_zip_code_prefix: string (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)

olist_geolocation_dataset.csv
root
 |-- geolocation_zip_code_prefix: string (nullable = true)
 |-- geolocation_lat: string (nullable = true)
 |-- geolocation_lng: string (nullable = true)
 |-- geolocation_city: string (nullable = true)
 |-- geolocation_state: string (nullable = true)

olist_order_items_dataset.csv
root
 |-- order_id: string (nullable = true)
 |-- order_item_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- seller_id: string (nullable = true)
 |-- shipping_limit_date: timestamp (nullable = true)
 |-- price: double (nullable = true)
 |-- freight_value: double (nullable = true)

olist_order_payments_dataset.csv
root
 |-- order_id: string (nullable = true)
 |-- payment_sequential: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- payment_installments: integer (nullable = true)
 |-- payment_value: double (nullable = true)

olist_order_reviews_dataset.csv
root
 |-- review_id: string (nullable = true)
 |-- order_id: string (nullable = true)
 |-- review_score: integer (nullable = true)
 |-- review_comment_title: string (nullable = true)
 |-- review_comment_message: string (nullable = true)
 |-- review_creation_date: timestamp (nullable = true)
 |-- review_answer_timestamp: timestamp (nullable = true)

olist_orders_dataset.csv
root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_purchase_timestamp: timestamp (nullable = true)
 |-- order_approved_at: timestamp (nullable = true)
 |-- order_delivered_carrier_date: timestamp (nullable = true)
 |-- order_delivered_customer_date: timestamp (nullable = true)
 |-- order_estimated_delivery_date: timestamp (nullable = true)

olist_products_dataset.csv
root
 |-- product_id: string (nullable = true)
 |-- product_category_name: string (nullable = true)
 |-- product_name_lenght: integer (nullable = true)
 |-- product_description_lenght: integer (nullable = true)
 |-- product_photos_qty: integer (nullable = true)
 |-- product_weight_g: integer (nullable = true)
 |-- product_length_cm: integer (nullable = true)
 |-- product_height_cm: integer (nullable = true)
 |-- product_width_cm: integer (nullable = true)

olist_sellers_dataset.csv
root
 |-- seller_id: string (nullable = true)
 |-- seller_zip_code_prefix: string (nullable = true)
 |-- seller_city: string (nullable = true)
 |-- seller_state: string (nullable = true)

product_category_name_translation.csv
root
 |-- product_category_name: string (nullable = true)
 |-- product_category_name_english: string (nullable = true)

In [27]:
schemas = StructType([
    StructField("InvoiceNo", StringType(), True),
    StructField("StockCode", StringType(), True),
    StructField("Description", StringType(), True),
    StructField("Quantity", IntegerType(), True),
    StructField("InvoiceDate", StringType(), True),
    StructField("UnitPrice", DoubleType(), True),
    StructField("CustomerID", StringType(), True),
    StructField("Country", StringType(), True)
])

df = spark.read.csv("/resources/data/online-retail-dataset.csv", header=True, schema=schemas)
df = df.withColumn("invoiceDate", to_timestamp(df["invoiceDate"], "M/d/yyyy H:mm"))

df.show(5)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        invoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|     17850|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 5 rows

In [34]:
print("online-retail-dataset.csv")
df.printSchema()

online-retail-dataset.csv
root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- invoiceDate: timestamp (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: string (nullable = true)
 |-- Country: string (nullable = true)

In [43]:
olist_order_items_dataset = spark.read.csv("/resources/data/olist/olist_order_items_dataset.csv", header=True, schema=StructType([
        StructField("order_id", StringType(), True),
        StructField("order_item_id", StringType(), True),
        StructField("product_id", StringType(), True),
        StructField("seller_id", StringType(), True),
        StructField("shipping_limit_date", TimestampType(), True),
        StructField("price", DoubleType(), True),
        StructField("freight_value", DoubleType(), True)
    ]))

olist_orders_dataset = spark.read.csv("/resources/data/olist/olist_orders_dataset.csv", header=True, schema=StructType([
        StructField("order_id", StringType(), True),
        StructField("customer_id", StringType(), True),
        StructField("order_status", StringType(), True),
        StructField("order_purchase_timestamp", TimestampType(), True),
        StructField("order_approved_at", TimestampType(), True),
        StructField("order_delivered_carrier_date", TimestampType(), True),
        StructField("order_delivered_customer_date", TimestampType(), True),
        StructField("order_estimated_delivery_date", TimestampType(), True)
    ]))

# Join datasets on order_id
sales_df = olist_order_items_dataset.join(olist_orders_dataset, on="order_id", how="inner")

# Aggregation: Total price and freight value by order status
sales_agg_df = sales_df.groupBy("order_id", "product_id", "seller_id", "customer_id", "order_status").agg(
    sum("price").alias("total_sales"),
    sum("freight_value").alias("total_freight"),
    avg("price").alias("avg_sales"),
    avg("freight_value").alias("avg_freight")
)

sales_agg_df.show()

+--------------------+--------------------+--------------------+--------------------+------------+-----------+-------------+---------+-----------+
|            order_id|          product_id|           seller_id|         customer_id|order_status|total_sales|total_freight|avg_sales|avg_freight|
+--------------------+--------------------+--------------------+--------------------+------------+-----------+-------------+---------+-----------+
|00010242fe8c5a6d1...|4244733e06e7ecb49...|48436dade18ac8b2b...|3ce436f183e68e078...|   delivered|       58.9|        13.29|     58.9|      13.29|
|00018f77f2f0320c5...|e5f2d52b802189ee6...|dd7ddc04e1b6c2c61...|f6dd3ec061db4e398...|   delivered|      239.9|        19.93|    239.9|      19.93|
|000229ec398224ef6...|c777355d18b72b67a...|5b51032eddd242adc...|6489ae5e4333f3693...|   delivered|      199.0|        17.87|    199.0|      17.87|
|00024acbcdf0a6daa...|7634da152a4610f15...|9d7a1d34a50524090...|d4eb9395c8c0431ee...|   delivered|      12.99|        12.79|    12.99|      12.79|
|00042b26cf59d7ce6...|ac6c3623068f30de0...|df560393f3a51e745...|58dbd0b2d70206bf4...|   delivered|      199.9|        18.14|    199.9|      18.14|
|00048cc3ae777c65d...|ef92defde845ab845...|6426d21aca402a131...|816cbea969fe5b689...|   delivered|       21.9|        12.69|     21.9|      12.69|
|00054e8431b9d7675...|8d4f2bb7e93e6710a...|7040e82f899a04d1b...|32e2e6ab09e778d99...|   delivered|       19.9|        11.85|     19.9|      11.85|
|000576fe39319847c...|557d850972a7d6f79...|5996cddab893a4652...|9ed5e522dd9dd85b4...|   delivered|      810.0|        70.75|    810.0|      70.75|
|0005a1a1728c9d785...|310ae3c140ff94b03...|a416b6a846a117243...|16150771dfd477626...|   delivered|     145.95|        11.65|   145.95|      11.65|
|0005f50442cb953dc...|4535b0e1091c278df...|ba143b05f0110f0dc...|351d3cb2cee3c7fd0...|   delivered|      53.99|         11.4|    53.99|       11.4|
|00061f2a7bc09da83...|d63c1011f49d98b97...|cc419e0650a3c5ba7...|c6fc061d86fab1e2b...|   delivered|      59.99|         8.88|    59.99|       8.88|
|00063b381e2406b52...|f177554ea93259a5b...|8602a61d680a10a82...|6a899e55865de6549...|   delivered|       45.0|        12.98|     45.0|      12.98|
|0006ec9db01a64e59...|99a4788cb24856965...|4a3ca9315b744ce9f...|5d178120c29c61748...|   delivered|       74.0|        23.32|     74.0|      23.32|
|0008288aa423d2a3f...|368c6c730842d7801...|1f50f920176fa81da...|2355af7c75e7c98b4...|   delivered|       99.8|        26.74|     49.9|      13.37|
|0009792311464db53...|8cab8abac59158715...|530ec6109d11eaaf8...|2a30c97668e81df7c...|   delivered|       99.9|        27.65|     99.9|      27.65|
|0009c9a17f916a706...|3f27ac8e699df3d30...|fcb5ace8bcc92f757...|8a250edc40ebc5c39...|   delivered|      639.0|        11.34|    639.0|      11.34|
|000aed2e25dbad2f9...|4fa33915031a8cde0...|fe2032dab1a61af87...|fff5169e583fd07fa...|   delivered|      144.0|         8.77|    144.0|       8.77|
|000c3e6612759851c...|b50c950aba0dcead2...|218d46b86c1881d02...|3773bcf1a6fbd2923...|   delivered|       99.0|        13.71|     99.0|      13.71|
|000e562887b1f2006...|5ed9eaf534f6936b5...|8cbac7e12637ed9cf...|2b01d668726fb0b75...|   delivered|       25.0|        16.11|     25.0|      16.11|
|000e63d38ae8c00bb...|553e0e7590d3116a0...|1c129092bf23f28a5...|98884e672c5ba85f4...|   delivered|       47.9|         8.88|     47.9|       8.88|
+--------------------+--------------------+--------------------+--------------------+------------+-----------+-------------+---------+-----------+
only showing top 20 rows

In [46]:
# Baca dataset
products_df = spark.read.csv("/resources/data/olist/olist_products_dataset.csv", 
                             header=True, 
                             schema=StructType([
                                    StructField("product_id", StringType(), True),
                                    StructField("product_category_name", StringType(), True),
                                    StructField("product_name_lenght", IntegerType(), True),
                                    StructField("product_description_lenght", IntegerType(), True),
                                    StructField("product_photos_qty", IntegerType(), True),
                                    StructField("product_weight_g", IntegerType(), True),
                                    StructField("product_length_cm", IntegerType(), True),
                                    StructField("product_height_cm", IntegerType(), True),
                                    StructField("product_width_cm", IntegerType(), True)
                                ])
                                )

reviews_df = spark.read.csv("/resources/data/olist/olist_order_reviews_dataset.csv", 
                            header=True, 
                            schema=StructType([
                                   StructField("review_id", StringType(), True),
                                   StructField("order_id", StringType(), True),
                                   StructField("review_score", IntegerType(), True),
                                   StructField("review_comment_title", StringType(), True),
                                   StructField("review_comment_message", StringType(), True),
                                   StructField("review_creation_date", TimestampType(), True),
                                   StructField("review_answer_timestamp", TimestampType(), True)
                                ])
                                )

items_df = spark.read.csv("/resources/data/olist/olist_order_items_dataset.csv", 
                          header=True,
                          schema=StructType([
                                 StructField("order_id", StringType(), True),
                                 StructField("order_item_id", StringType(), True),
                                 StructField("product_id", StringType(), True),
                                 StructField("seller_id", StringType(), True),
                                 StructField("shipping_limit_date", TimestampType(), True),
                                 StructField("price", DoubleType(), True),
                                 StructField("freight_value", DoubleType(), True)
                                 ])
                                 )

# Gabungkan items dan review berdasarkan order_id, lalu join dengan products berdasarkan product_id
product_reviews_df = items_df.join(reviews_df, on="order_id", how="inner").join(products_df, on="product_id", how="inner")

# Agregasi rata-rata skor review per kategori produk
review_score_by_category = product_reviews_df.groupBy("order_id", "seller_id", "product_id", "product_category_name", "review_comment_title", "review_comment_message").agg(
    avg("review_score").alias("avg_review_score")
)

review_score_by_category.show()

+--------------------+--------------------+--------------------+---------------------+--------------------+----------------------+----------------+
|            order_id|           seller_id|          product_id|product_category_name|review_comment_title|review_comment_message|avg_review_score|
+--------------------+--------------------+--------------------+---------------------+--------------------+----------------------+----------------+
|a5a854651cfe0d8da...|1900267e848ceeba8...|409ec48108c4dad21...|      cama_mesa_banho|Voc paga 2 e rec...|  ROUBO! Na nota fi...|             1.0|
|104d88e666e2ec697...|2eb70248d66e0e3ef...|a4a04b698e98a6024...|                bebes|Recebi o produto ...|  Recebi um produto...|             1.0|
|46bbd69cb8d68f6c3...|6560211a19b47992c...|dd1247b741df17712...|   relogios_presentes|Produto com cor d...|  O produto  de bo...|             4.0|
|57e2143bf55c040c9...|cca3071e3e9bb7d12...|c9dbe2eec19a8093c...|      cama_mesa_banho|   Muito satisfeita |  Satisfeita com pr...|             5.0|
|7fccb4a84a452c9ec...|cd6efc47efaabf134...|afb19e2ebc7fc0880...|           brinquedos|                 bom|     produto razovel |             3.0|
|f70dff3502fa3fe88...|f789d2c4f2c2eb38f...|208c1210f363c8251...|             pet_shop|           Recomendo|  Produto de boa qu...|             5.0|
|4bd17c85bd06ed500...|1900267e848ceeba8...|6506fe6d39dbfe553...|      cama_mesa_banho|       no recomendo|  paguei frete e ti...|             1.0|
|d85e7bfbf3642aa30...|b6d44737c04332870...|451f6a5c5b15c9c58...| utilidades_domest...|       tomar cuidado|  no veio uma NF c...|             2.0|
|fdd5e4264311601ee...|88460e8ebdecbfecb...|b0c8da302d49498d2...| informatica_acess...|FRETE EM DOBRO- A...|  GOSTARIA DE FAZER...|             4.0|
|7e3da8f7ef82afccb...|b839e41795b7f3ad9...|44fc450365728c413...|      eletroportateis| Venda profissional |  O servio de entr...|             4.0|
|cdf3be569e5ffb3e7...|65febd49fd28ec955...|ff5bdcc63751127e7...| utilidades_domest...|            Perfeito|  Entrega no prazo,...|             5.0|
|8e9358bf838db65d9...|4869f7a5dfa277a7d...|78119fbfa709d07b8...|           cool_stuff|       Decepcionado |  Eu comprei o prod...|             1.0|
|d2271c114a00d818b...|abe42c5d03695b425...|82df58fc3b035fa42...|         beleza_saude|          Satisfeita|  O produto foi ent...|             5.0|
|26884dfc89f32e105...|c70c1b0d8ca86052f...|3258acb04d37e2f91...|         beleza_saude|               frete|  no geral, acredit...|             5.0|
|effeb0c3ecae530d0...|eeb6de78f79159600...|09461131e28a1b165...|   ferramentas_jardim|           Recomendo|  A compra do produ...|             5.0|
|0805ef7875f007ad8...|4a3ca9315b744ce9f...|64fb265487de22386...|      cama_mesa_banho|           RECOMENDO|  A colcha  muito ...|             4.0|
|f4788173ecaa85907...|16090f2ca825584b5...|1e1e594f54aee5d34...|           automotivo| Produto com defeito|  O produto veio co...|             1.0|
|434d158e96bdd6972...|a5cba26a62b8b4d01...|c7df652246ed7b330...|         beleza_saude|Produto novo e or...|  Produto veio bem ...|             5.0|
|3ae6f437745a33a4f...|a3e9a2c700480d9bb...|1c21c1ed398eae611...|      cama_mesa_banho|             Rapidez|  Adorei entrega r...|             5.0|
|c52af89e91822e0fe...|81f89e42267213cb9...|027cdd14a677a5834...|           perfumaria|           Recomendo|  Sempre comprei e ...|             5.0|
+--------------------+--------------------+--------------------+---------------------+--------------------+----------------------+----------------+
only showing top 20 rows